<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img width="100%" [src]="photoDetails.url" />
    <ion-card-header>
      <ion-card-subtitle>{{photoDetails.author}}</ion-card-subtitle>
      <ion-card-title>{{photoDetails.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{photoDetails.description}}
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="!addedToFav" expand="full" (click)="addToFavorites()">Ajouter aux Favoris</ion-button>

  <ion-button expand="full" routerLink="/tabs/tab2">Retour à la liste</ion-button>

</ion-content>
